[2017-03-07 21:10] drebbe-intrepid opened #1 "linux api doesn't support icsneoFindNeoDevicesEx"
[code]

Move icsneoFindNeoDevicesEx down so its not called unless its needed.

[2017-03-07 23:22] #1 closed

[2017-09-20 13:59] pierreluctg opened #5 "Added support for ISO15765 enable networks function"
ISO15765 support have been added by https://github.com/intrepidcs/python_ics/commit/783f50b185c3ff7edb63b5473c8accae17760f4e however, ISO15765_EnableNetworks method is missing.

[2018-01-05 16:01] syntroniks commented on #5
@drebbe-intrepid Do we (really) need to call this method? I imagine `ctype` style calls would work, but that's not as desirable as having the function implemented.

[2018-01-05 17:16] drebbe-intrepid commented on #5
Yes, looks like I missed it on mistake. I'll add it in soon.

[2018-02-16 19:12] drebbe-intrepid opened #6 "Ethernet Crashes when transmitting"
Due to a fix to correct behavior in icsneoTxMessages() @ VSPY3 Version 3.8.2.26 having ics.SpyMessage.ExtraDataPtrEnabled with Ethernet causes programs to crash.

When using ics.SPY_PROTOCOL_ETHERNET ics.SpyMessage.ExtraDataPtrEnabled needs to be 0.

[2018-02-16 19:25] drebbe-intrepid commented on #6
This will be in last 2.x branch reflecting 802. All new releases will be 3.x and be based on 803.

[2018-03-23 12:34] pierreluctg opened #7 "Please expose icsneoSetBitRate"
```icsneoSetBitRate``` is missing from the API.

[2018-03-23 12:35] pierreluctg commented on #7
@drebbe-intrepid

[2018-03-23 13:28] anoopj08 opened #8 "get_messages() method not recognizing open device"
I am attempting to write a script to get all messages from a NeoVI Fire2 device, but the library is returning a "device not opened!" error.

Steps:

1. I first installed the libicsneoapi.so file into my machine (running Ubuntu 16.04) using the instructions at https://github.com/intrepidcs/icsneoapi.
2. I then connected the NeoVI device to my car (2013 Chevrolet Suburban) and to my machine, and ran

[2018-03-23 21:42] drebbe-intrepid commented on #8
This looks to be like a potential bug in the libicsneoapi.so itself, I'll push this internally to see if it can be fixed.

[2018-03-23 21:43] drebbe-intrepid commented on #7
Implemented in commit 77203b559396fdce4633a2aa58524a84b412b04a.

Will be in version 2.9.

[2018-03-23 21:51] #7 closed

[2018-03-25 05:45] telehan opened #9 "fail build with build_all.bat with Python3.6"
fail build with build_all.bat with Python3.6
 （Python 3.6.3 (v3.6.3:2c5fed8, Oct  3 2017, 17:26:49) [MSC v.1900 32 bit (Intel)] on win32）

the build_all.bat make some change according to python location path.

`set py36dir=D:\Python\Python36-32

%py36dir%\Scripts\pip install wheel twine

%py36dir%\Scripts\pip install wheel twine

%py36dir%\python setup.py sdist bdist_wheel

%py36dir%\python setup.

[2018-03-26 17:08] drebbe-intrepid commented on #9
This is a script I use for uploading to pypi. Use pip to install, not this script.

[2018-03-27 18:47] pierreluctg opened #10 "GetTimeStampForMsg"
Please expose ```GetTimeStampForMsg```

[2018-03-27 18:47] pierreluctg commented on #10
@drebbe-intrepid

[2018-03-27 21:58] drebbe-intrepid commented on #10
Will be in version 2.9.

[2018-03-27 21:58] #10 closed

[2018-03-27 21:59] #6 closed

[2018-03-27 21:59] #9 closed

[2018-03-27 22:01] drebbe-intrepid commented on #8
We have successfully reproduced the issue internally and is related to libicsneoapi.so itself.

[2018-03-30 02:25] anoopj08 commented on #8
Hello,

Thank you so much for looking into my issue! I attempted to implement your workaround, and unfortunately I am getting the same error as I did before I set the SerialNumber parameter to NULL in that method.

Exact Steps:
I deleted the current version of libicsneoapi.so from my machine and undid all of my installation operations. I then re-downloaded the libicsneoapi-master files from the gi

[2018-03-30 17:52] drebbe-intrepid commented on #8
only other difference I did was build against the libftdi1-2 package instead of the libftdi1 package. (need to update the makefile to reflect this).

[2018-04-12 11:48] pierreluctg opened #11 "source dist (sdist) is missing on pypi.python.org"
Looks like the was not uploaded to pypi since version 2.6

[2018-04-16 15:44] ltatgithub opened #12 "NeoVi transmit and receive (ICS)"
**## i am trying to use the example given to send and receive the CAN frames with NeoVi fire 2. I am receiving some junk like this (����) and no sent frames received other side. but the same code works fine for PCan.
`import time**

import can
import ics

if name == 'main':
devices = ics.find_devices()

for device in devices:
    print(device.Name, device.SerialNumber)

bus = can.interface.Bus(bus

[2018-05-03 17:14] drebbe-intrepid commented on #12
Sorry for the late response.

For the most part the python-ics code looks correct. You are probably having issues on the hardware side with either termination and or baudrate conflicts.

[code]

[2018-05-30 17:42] drebbe-intrepid opened #13 "use icsneoBase36enc() instead"
use icsneoBase36enc() instead.

We implemented base36enc before icsneoBase36enc() was exposed.

[2018-05-30 17:44] drebbe-intrepid opened #14 "method names are all over the place..."
method names are all over the place...

Implement consistency so all methods have:
1.) PEP8 naming scheme.
2.) C API Name.
3.) C API Name with pretext icsneo removed.

Also update documentation to reflex this.

[2018-05-30 18:04] #14 closed

[2018-05-30 18:04] pierreluctg opened #15 "ics.find_devices() trhow 0xC0000005: Access Violation when USE_LECAGY_FIND_DEVICE is enabled"
When calling `ics.find_devices()` when `USE_LECAGY_FIND_DEVICE` is enabled, `0xC0000005: Access Violation` is raised.

This is caused by wrong `device_type` variable type.

https://github.com/intrepidcs/python_ics/blob/788aa3f76013712e53a9b96bcced2c4bb31a2b18/src/methods.cpp#L161

Potential fix:
[code]

[2018-05-30 18:05] pierreluctg commented on #15
FYI @drebbe-intrepid

[2018-05-30 18:17] drebbe-intrepid commented on #15
Thanks for catching this, I'll correct it ASAP.

[2018-05-30 19:04] drebbe-intrepid commented on #15
Should be fixed now, I was planning on 2.9 being the last release of 802 VSPY3 branch. Since you need to compile from source I don't see a new release being needed for this fix.

Master Branch is now going to reflect VSPY3 803 branch.

[2018-05-31 14:13] #15 closed

[2018-05-31 14:13] pierreluctg commented on #15
@drebbe-intrepid can you make a new release to pypi?

Thank you

[2018-05-31 15:23] drebbe-intrepid commented on #15
Can you give me more details why you need this flag enabled? It should work without it. I was considering enabling this flag by default in the 2.x branch.

I am planning on doing a new release as I've found another issue elsewhere.

[2018-05-31 16:10] pierreluctg commented on #15
Hi @drebbe-intrepid the last dll version I got from https://www.intrepidcs.com/support/support-resources/ is 3.8.2.109 this is apparently the old style DLL.

[2018-05-31 16:16] drebbe-intrepid commented on #15
Thanks for the response.
The default build without USE_LEGACY_FIND_DEVICES flag tries to call the new style function. If it doesn't exist, it will fallback to the old style function in this case. Only reason I implemented USE_LEGACY_FIND_DEVICES was for special corner cases where performance would be an issue of calling find_devices with the extra failing call.

The reason I was debating enabling

[2018-05-31 18:28] drebbe-intrepid commented on #15
@pierreluctg 2.10 just released, let me know if you have any issues.

[2018-05-31 18:35] pierreluctg commented on #15
@drebbe-intrepid, it's better now `ics.find_devices()` no longer cause issue.

However, `ics.find_devices(a_ics_device_type)` will raise an exception from https://github.com/intrepidcs/python_ics/blob/v802/src/methods.cpp#L155

and using `ics.find_devices([a_ics_device_type])` will not do any device type filtering because `legacy_dev_type` will keep the default value.

[2018-05-31 19:30] drebbe-intrepid commented on #15
python test_find_devices.py -v
test_default_parameters (__main__.TestFindDevicesLegacy) ... ok
test_default_parameters_time (__main__.TestFindDevicesLegacy) ... ok
test_find_fire2 (__main__.TestFindDevicesLegacy) ... ok
test_find_fire2_and_vcan3 (__main__.TestFindDevicesLegacy) ... ok
test_find_vcan3 (__main__.TestFindDevicesLegacy) ... ok
test_default_parameters (__main__.TestFindDevicesNewStyle)

[2018-05-31 19:42] drebbe-intrepid commented on #15
@pierreluctg 2.11 just released. Should be fixed 100% now.

[2018-06-01 13:09] pierreluctg commented on #15
Two little issues left...

- Device type filtering with new style find_devices arguments with legacy DLL is broken.
    - The unit test pass because the expect the filtering to be broken... Is that expected https://github.com/intrepidcs/python_ics/blob/master/test/test_find_devices.py#L65
- `ics.NEODEVICE_*` argument need to be converted to `long` to be used as a device type filter in Python 2.x s

[2018-06-01 16:43] drebbe-intrepid commented on #15
@pierreluctg thanks for finding this, completely overlooked 2.7 int/long changes. Seems I can't get anything right this week...

[2018-06-01 19:23] drebbe-intrepid commented on #15
[code]

[2018-06-01 19:30] drebbe-intrepid commented on #15
for future reference the various issues here are from 2.9-2.11 release.

[2018-06-19 14:04] pierreluctg opened #16 "Unable to open device when error have been generated"
Hi @drebbe-intrepid , I am not sure it this is an issue or the expected behavior. It is not possible to open a device if another client have previously open the device and generated one or more errors.

In addition, the second client is getting a RuntimeError with message `Failed to open device` without any more detail or any way to find what caused the error.

Here is a code snippet to demonstrat

[2018-06-21 16:09] drebbe-intrepid commented on #16
@pierreluctg You need to use neoVI server in order to connect to the same device more than once.

This installer includes neoVI Explorer which is able to enable and disable neoVI Server.

https://cdn.intrepidcs.net/updates/files/RP1210KitInstall.zip

[2018-06-21 17:04] pierreluctg commented on #16
Hi @drebbe-intrepid the server mode is enabled and I am able to open the same device more than once. The issue is really when there is an error on the device and another client tried to open the device.

in the code above when `# error_flag.set()` is un-commented, this will allow both client to connect since there is no error generated before the open request.

[2018-06-21 19:13] drebbe-intrepid commented on #16
@pierreluctg Can you try a few things for me?

1.) In client_two can you put a time.sleep(10) before if open_device(logger) and see if that helps.

2.) Put a loop in open_device to try 2 or 3 times in case the first one fails. This shouldn't apply here but windows com API (CreateFile()) likes to fail sometimes if the handle is in process of being deleted.

3.) don't close the device in client_one

[2018-06-22 13:23] pierreluctg commented on #16
Hi @drebbe-intrepid

This only helps if client_one do release the device handle. In my code above, it's the case however in most application it will not be the case.

Same as point 1.

This makes no difference. The error is still present.

---
## Version information
- `neoVIServer.exe` version `3.8.2.109`
- `icsneo40.dll` version `3.8.2.109`

[2018-06-22 14:45] drebbe-intrepid commented on #16
@pierreluctg one thing I noticed while looking at this code, you have transmit messages in a tight loop sending one message at a time. I'm not sure if this is on purpose for this example code but its better to send a tuple of messages over sending a loop at a slower rate. You are basically bypassing all software buffers in the DLL and USB stack when doing it this way causing the TX buffer overflow

[2018-06-22 15:12] pierreluctg commented on #16
@drebbe-intrepid I am using a ValueCAN3.

My test with ValueCAN4-2 show that the first `open_device` call by client_two will fail and second call succeed.

The tight loop is purely to have a very simple code showing the issue.

[2018-06-22 15:47] pierreluctg commented on #16
With a `neoVI FIRE2` i get the same issue I have with the `ValueCAN3`

[2018-06-22 17:13] drebbe-intrepid commented on #16
@pierreluctg thanks for the info, I'll try to reproduce on my end and see if I can find anything.

[2018-06-25 17:54] drebbe-intrepid commented on #16
@pierreluctg This looks to be an issue with neoVIServer.exe, seems we are taking a while to close the device (probably due to buffers being filled with messages we can't transmit) and server prematurely says we successfully closed the device.

neoVIServer.exe Enabled:

[code]

neoVIServer.exe Disabled:

[code]

I made a few changes here which should hopefully work as a work-around. I'm submitting

[2018-06-26 12:58] pierreluctg commented on #16
Hi @drebbe-intrepid this explains the case where `client one` is closing the device when he hit the error. However in case where the error is a `Tx Overflow`, like in the code example, `client one` may not close the device and may want to continue to use it. There is nothing preventing `client one` from using the device and `client two` **will not be able to open the device**.

[2018-06-26 16:44] drebbe-intrepid commented on #16
@pierreluctg I believe I reproduced this here. Basically any time we fill the device buffers on one thread anything else has a hard time connecting to it. This has been accepted into our internal bug tracker so hopefully we should see something soon. For the time being, if possible, I would try to have devices connected before we overflow the buffers for better results.

python issue16-2.py
[code]

[2018-06-26 16:56] pierreluctg commented on #16
@drebbe-intrepid thank you for looking at the issue. Will monitor this thread for updates.

[2018-06-27 19:15] pierreluctg opened #17 "Please provide example for iso15765"
Hi @drebbe-intrepid, can you please provide example and documentation on how to use `ics.iso15765_receive_message()` (and other iso15765 methods)

It is not clear to me how to use the `iIndex` argument is supposed to be use.

Thank you

[2018-06-28 17:52] drebbe-intrepid commented on #17
I'm working on an example right now, `iIndex` is poorly named, it is the network id.

[2018-06-28 22:09] drebbe-intrepid commented on #17
@pierreluctg https://github.com/intrepidcs/python_ics/blob/master/examples/iso15765_example.py

I had to fix some things to make this work, I'll be releasing a new version here soon once I cherry-pick back to 802 branch.

https://github.com/intrepidcs/python_ics/commit/9195d568f2f2dedbda80ecdf830cfb2d02a58cbc

[2018-06-28 22:12] drebbe-intrepid commented on #17
screenshot of the example:

![iso15765_example](https://user-images.githubusercontent.com/26259753/42063270-d0c5e4b2-7afe-11e8-86f4-5d3ec49bd620.png)

[2018-06-29 17:53] drebbe-intrepid commented on #17
@pierreluctg I Just uploaded 2.14 to pypi, example should be fully working now.

[2018-06-29 18:01] drebbe-intrepid commented on #16
@pierreluctg Small update: Our development team has successfully reproduced and debugged this issue, so we should hopefully see a resolution soon.

[2018-07-03 12:06] pierreluctg commented on #17
Thank you @drebbe-intrepid

[2018-07-05 12:46] pierreluctg commented on #17
@drebbe-intrepid I tried the example using python-ics 2.14 and only the First Frame is received in the RX side. The RX side is not sending the Flow Control and it prevents the TX side from sending the Consecutive Frames.

[2018-07-05 15:05] drebbe-intrepid commented on #17
@pierreluctg I did see this behavior once but was unable to reproduce it. Can you let me know your setup again and console output?

[2018-07-05 16:16] pierreluctg commented on #17
This is the output I get from running https://raw.githubusercontent.com/intrepidcs/python_ics/v802/examples/iso15765_example.py with **python-ics 2.14**, **2 x ValueCan3** and driver version **3.8.2.111**

[code]

With `enable_print_message = True`

[code]

[2018-07-05 16:38] drebbe-intrepid commented on #17
hmm, I suspect a possible issue with ValueCAN3 and not sending the response. I noticed my example I'm doing that with the FIRE2. I'll swap them around and see if I can reproduce it, but I won't be able to get to it until Monday as I'm out of the office until then.

[2018-07-05 16:43] pierreluctg commented on #17
Thank you @drebbe-intrepid

[2018-07-09 16:47] drebbe-intrepid commented on #17
@pierreluctg I've reproduced this on my side and submitted a bug to our internal tracker. Looks to be an issue with icsneoISO15765_ReceiveMessage() and ValueCAN3.

[2018-07-09 23:33] drebbe-intrepid commented on #17
@pierreluctg I believe this should be fixed now. I had the shifting wrong for the flags and didn't have `enableFlowControlTransmission` set.

[2018-07-09 23:35] drebbe-intrepid commented on #17
Updated console output with new code changes and two ValueCAN3s:
[code]

[2018-07-16 12:00] pierreluctg commented on #17
Hi @drebbe-intrepid, confirming that it works now with this latest change.

Thank you

[2018-07-16 12:02] pierreluctg opened #18 "Add Python37 to v802 branch"
Hi @drebbe-intrepid, can you port https://github.com/intrepidcs/python_ics/commit/d07203cd20c1c81f4664cc01f2c405eb27e9657b to the v802 branch?

[2018-07-16 17:12] drebbe-intrepid commented on #18
Yes, I'm not really happy with that commit. I'll try to get it ported here soon. I was waiting for an actual release and not an RC to continue with this.

[2018-07-16 18:56] drebbe-intrepid commented on #18
Support was added in 2.15 and uploaded.

[2018-07-16 18:56] #18 closed

[2018-07-16 19:21] pierreluctg commented on #17
Working with latest release https://pypi.org/project/python-ics/2.15/

[2018-07-16 19:21] #17 closed

[2018-07-20 22:46] drebbe-intrepid commented on #16
@pierreluctg The issue seems to be resolved but isn't currently fixed in our stable 802 release branch (803+ currently). I've put in a request to see if we can backport it to 802.

[code]

[2018-07-23 15:48] drebbe-intrepid commented on #16
@pierreluctg current release schedule is "end of September" but can be pushed out farther if we find issues. If this is needed right now, I can give you a "special beta" 802 build but won't really be supported very well, if other issues arise.

[2018-07-23 17:16] pierreluctg commented on #16
@drebbe-intrepid, I will be happy to test this "special beta" 802 if possible.

However, for the user of my applications and libraries in general they will wait for the 803 release.

[2018-08-01 15:04] pierreluctg opened #19 "Hardware acceleration support"
Hi @drebbe-intrepid, is it possible to use the neoVI devices hardware acceleration outside of Vehicle
Spy?

For example, would it be possible to do periodic messaging on the HW itself with `python-ics`?

[2018-08-01 16:02] pierreluctg opened #20 "ics.open_device iOptions arguments"
Hi @drebbe-intrepid, while looking at the documentation for [ics.open_device](http://python-ics.readthedocs.io/en/2.15/#ics.open_device), I saw the there is a argument called `iOptions` with unclear documentation and reference to `DEVICE_OPTION_* defines` that is not found in `python-ics`.

Can you clarify how the `iOptions` is supposed to be used and what are the possible values.

Thank you

[2018-08-01 19:07] drebbe-intrepid commented on #19
@pierreluctg You would still have to use Vehicle Spy to generate the coremini and then you could use `ics.coremini_load()` and `ics.coremini_start()` to start it from python.

Its not in the best location but inside `python_ics/test/obsolete/cmvspyconvert.py` you can take the generated coremini header and embedded it inside your python script.

[2018-08-01 19:11] drebbe-intrepid commented on #20
@pierreluctg this is more for internal use / customer specific options. Majority of the options I can't really expose publicly.

This is really the only one I can show you:
`#define DEVICE_OPTION_DISABLE_AUTO_UPDATE (0x00000002)`
and it bypasses updating the firmware in the device (I don't recommend using).

[2018-08-02 12:07] pierreluctg commented on #20
@drebbe-intrepid, if I look at the online documentation for [OpenNeoDevice Method - intrepidcs API](https://cdn.intrepidcs.net/support/neoVIDLL/OpenNeoDevice.htm), there is a argument called `bSyncToPC` not exposed here in `python-ics`. Is this a `DEVICE_OPTION_*` that can be used here?

[2018-08-02 12:48] pierreluctg commented on #19
@drebbe-intrepid, is it possible to create a single coremini that can be used on any neoVi devices?

[2018-08-02 19:42] drebbe-intrepid commented on #19
@pierreluctg yes, as long as the firmware versions match with the version of Vehicle Spy you created the coremini in.

[2018-08-02 19:57] drebbe-intrepid commented on #20
@pierreluctg  `bSyncToPC` is a boolean value and after quickly examining the code the default value is not correct. `iOptions` should be set to `1` to set `bSyncToPc` to `1`.

The find and open methods are going to undergo a rewrite here hopefully sooner than later as there is another API being introduced again and the code has become a giant pile of spaghetti code I'm not happy with. Thank you fo

[2018-08-13 20:05] drebbe-intrepid commented on #16
@pierreluctg Did this end up working out for you?

[2018-08-13 20:31] pierreluctg commented on #16
Hi @drebbe-intrepid, I did download the special build. However, I have not had the chance to test it yet.

Will try to find time this week to give it a try.

[2018-08-27 06:48] Tomorrowbegins opened #21 "How to read ISO15765 and Normal messages together"
Hi,
In the 'iso15765_example', I found that it is using "ics.get_messages(device)" to read ISO15765 message data, but this method is also what we use to read normal CAN messages, and when we're reading iso15765 messages, we can't read normal CAN messages at the same time.  In our project, we need to read all CAN messages including iso15765 messages and normal messages at the same time, is there a

[2018-08-27 17:02] drebbe-intrepid commented on #21
@Tomorrowbegins Typically once you setup an ISO15765 filter on the device you generally don't want to receive other messages.

For an example on how to use ISO15765 please refer to this example:

https://github.com/intrepidcs/python_ics/blob/master/examples/iso15765_example.py

As a last resort:

[code]

[2018-08-27 20:09] zhihongliuus opened #22 "Failed to install latest 2.15."
When trying to upgrade from 2.6 to 2.15. I got following compile error:

                      ^
    src/methods.cpp:2157:108: warning: invalid conversion from ‘const char*’ to ‘char*’ [-fpermissive]
     #define _set_fire_settings(handle, settings, save) __set_fire_settings(handle, settings, save, __FUNCTION__);

[2018-08-28 01:56] Tomorrowbegins commented on #21
Thanks for replying. To read other CAN messages at the same time, it seems that I have to write my own iso15765 reading method in applications.

Thanks,
Jeremy
Jeremy

[2018-08-28 10:18] drebbe-intrepid commented on #22
@zhihongliuus Can you let me know what distribution you are running and what compiler version you are using?

This looks like an error on my part but I'm surprised it compiles at all on my side. Once I get this information I should be able to reproduce and fix it.

[2018-08-28 18:17] zhihongliuus commented on #22
@drebbe-intrepid
Please see my below environment information:

- Ubuntu: 4.4.0-112-generic #135~14.04.1
- x86_64-linux-gnu-gcc: x86_64-linux-gnu-gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
- Python: 2.7
- pip: 18.0

[2018-08-31 17:48] zhihongliuus commented on #22
@drebbe-intrepid

Awesome! I just installed it successfully. Thank you for the quick fix!

[2018-08-31 18:43] drebbe-intrepid commented on #22
@zhihongliuus glad to hear it works!

[2018-08-31 18:43] #22 closed

[2018-09-20 18:04] cottsay opened #24 "Segmentation Fault running tests on Fedora Linux"
This occurs when running `python setup.py test` with both python 2 and 3. Here is the backtrace coming out of `gdb -batch -ex run -ex bt --args python3 test/test_find_devices.py`:

[code]

Please let me know if there is anything else I can do to help.

[2018-09-28 17:45] KungFuCharlie opened #25 "RuntimeError when using many of the ICS functions"
I am using Python 3.7.0 with the latest python-ics files. I am able to call find_devices() and get a valid ics.NeoDevice object for the neoVI FIRE2 and print variables such as device.Name and device.SerialNumber.

[code]

However, whenever I try to call additional API functions I get RuntimeError exceptions.

[code]

The DLL file does appear to be found properly.

[code]

[2018-10-01 14:40] KungFuCharlie commented on #25
This also appears to be a problem using the device in Vehicle Spy 3 so I no longer think it is a python-ics problem.

[2018-10-01 14:52] #25 closed

[2018-10-15 18:03] drebbe-intrepid commented on #24
@cottsay

Sorry I missed this report, slipped through the cracks somehow...

I'll try to reproduce this on my end.

[2018-10-21 11:12] keelung-yang opened #26 "Please add change log"
There is no version change log.
So somebody maybe  confused about upgrading and other issues, e.g., in iso15765_example.py
`    # CmISO157652TxMessage.flags bitfield union isn't implemented as of 2.12, we need to do it manually.
    msg.flags = 0`
Now the lastest version is 2.15, so we have to check source to determine whether msg.flag is implemented.

[2018-10-22 10:52] keelung-yang opened #27 "RuntimeError: icsneoISO15765_ReceiveMessage() not found in icsneo40.dll"
This function is not defined in icsneo40.dll v3.6 & v3.7
So it's better to add icsneo40.dll  version requirement in document and check it after loading than throw exception.

[2018-10-22 11:53] keelung-yang opened #28 "ISO15765 padding not works"
![image](https://user-images.githubusercontent.com/20385450/47290725-6884a600-d633-11e8-8354-013f0685a7b4.png)

- icsneo40.dll version: 3.8.2.111, 32 bit
- python-ics: 2.15
- Python: 3.7.1, 32 bit
- OS: Windows 7 SP1, 64 bit

Here is my code which modified from iso15765_example.py

`@dataclass
class ECU:
    name: str
    txid: int
    rxid: int

    txmsg: ics.CmISO157652TxMessage = ics.CmISO1576

[2018-10-23 02:29] keelung-yang commented on #28
It's a bug for single frame message.
According to 'ISO 15765-2:2011(E) 9.4.2.1 CAN frame data padding':

I tested iso15765_example.py, changed number_of_bytes to 4 and 9, the output:

![image](https://user-images.githubusercontent.com/20385450/47331390-6d3a7000-d6ae-11e8-89bf-e2637e1e0e48.png)

[2018-12-13 21:21] drebbe-intrepid commented on #28
@keelung-yang Sorry I missed all your issue reports, seems like my email notifications aren't working like they should anymore...

I have a lot on my list currently, hopefully sometime in January I can check everything off my list.

[2018-12-13 21:57] drebbe-intrepid commented on #26
Done.

[2018-12-13 21:57] #26 closed

[2018-12-13 21:57] drebbe-intrepid opened #29 "CmISO157652TxMessage.flags bitfield union isn't implemented"
CmISO157652TxMessage.flags bitfield union isn't implemented.

[2018-12-18 14:45] syntroniks commented on #28
I'm encountering this issue as well.
Thanks for the update @drebbe-intrepid

[2018-12-19 20:50] drebbe-intrepid commented on #28
@syntroniks Thank you for the information. I'll let you know, if I find anything. If you are in possession of any other devices like a FIRE2, testing on those would be appreciated.

[2018-12-22 18:47] syntroniks commented on #28
Yes, I've got one of your higher-end interfaces. I'll give that a shot
first thing in January and report back.

On Wed, Dec 19, 2018 at 2:50 PM David Rebbe <notifications@github.com>
wrote:

[2018-12-26 02:48] keelung-yang opened #31 "Missing CanSettings usage in document"
If I change baudrate both in hardware and vspy3, than my application using python-ics send nothing on CAN. I guess it's using new baudrate.

So I want to set CAN baudrate manually,  which defined in CanSettings, but it's NOT documented.

So how to use it? THX!

[2018-12-26 02:57] keelung-yang commented on #31
I found set_bit_rate() which whould work.

[2018-12-26 02:57] #31 closed

[2018-12-26 03:27] keelung-yang opened #32 "Typo in methods.h"
Should be _meth_get_bit_rate_ ?

![image](https://user-images.githubusercontent.com/20385450/50430766-e6e61880-0900-11e9-89e9-58e45305740d.png)

[2018-12-26 04:00] keelung-yang opened #33 "Is BitRate an integer or ics.BPS* in set_bit_rate()?"
BitRate parameter is not documented here.
![image](https://user-images.githubusercontent.com/20385450/50431040-b99a6a00-0902-11e9-8d46-cf0994742316.png)

[2018-12-28 15:30] XhantorzD opened #34 "libicsneoapi.so Limitations."
The Windows DLL file contains all of the supported functions for the Python ICS package, however, when building for Linux, following the guide here https://github.com/intrepidcs/icsneoapi  to make the libicsneoapi.so share object library, only a few functions are available, such as:

00003f10 T icsneoClosePort
00003fc0 T icsneoFindNeoDevices
00003f3c T icsneoFreeObject
00003f4c T icsneoGetMessages

[2019-01-03 16:01] drebbe-intrepid commented on #28
@syntroniks Please update to at least 3.8.2.111. This should hopefully fix your issue.

@keelung-yang It looks like you are using the same device and neoVI Server. This shouldn't work correctly with the example, can you please provide full source to your modifications?

[2019-01-03 16:11] drebbe-intrepid commented on #32
@keelung-yang This is a typo but icsneoGetBitRate() doesn't exist so there is nothing I can do here. If this is something you require I can pass it on internally as an enhancement.

[2019-01-03 16:13] drebbe-intrepid commented on #33
Please see https://cdn.intrepidcs.net/support/neoVIDLL/SetBitRate.htm for more documentation on icsneoSetBitRate()

python_ics documentation should be clearer.

[2019-01-03 16:19] drebbe-intrepid commented on #34
@XhantorzD Thank you for this bug report. The linux side does have many limitations unfortunately and libicsneoAPI.so.0.1.3 is extremely old and shouldn't be used.

The future is this project but I have yet to support python with it:
https://github.com/intrepidcs/libicsneo

This library has legacy support for icsneo40/icsneoAPI but I'm not sure how well it will work currently with python_ics.

htt

[2019-01-03 21:37] drebbe-intrepid commented on #34
@XhantorzD I can confirm basic functionality works with the new API on windows at least.

You'll have to call ics.override_library_name() to utilize the new library. I'm guessing it is probably called libicsneolegacy.so on linux but not really sure at this point.

[2019-01-04 12:33] XhantorzD commented on #34
Awesome, thanks for your help @drebbe-intrepid

[2019-01-04 12:33] #34 closed

[2019-01-04 18:17] drebbe-intrepid commented on #24
@cottsay Issue should be resolved now.

For some reason I decided it would be sane to memset a const char array and its been working for the most part but is undefined behavior. Below is a copy of the stack trace.

[2019-01-08 00:18] cottsay commented on #24
I confirmed your fix. Thanks, @drebbe-intrepid!

[2019-01-08 00:18] #24 closed

[2019-01-10 20:11] XhantorzD commented on #34
ics.RuntimeError: Error: find_devices(): Failed to open library 'libicsneoapi.so': /usr/lib/x86_64-linux-gnu/libicsneolegacy.so: undefined symbol: _ZN6icsneo10NeoVIFIRE218SUPPORTED_NETWORKSE

Do you have an idea what may be causing this?

[2019-01-11 18:07] hollinsky-intrepid commented on #34
We should be all set now as of intrepidcs/libicsneo@c313801, see intrepidcs/libicsneo#1

[2019-01-15 14:44] pierreluctg commented on #16
Issue no longer seen with 803.

[2019-01-15 14:45] #20 closed

[2019-01-15 14:47] pierreluctg opened #36 "libicsneo"
Hi @drebbe-intrepid, I was wondering what was the plan going forward now that [libicsneo](https://github.com/intrepidcs/libicsneo) is available?

Will you update python-ics to use the new API? Or will there be a new python binding?

Thank you

[2019-03-27 12:58] pierreluctg opened #38 "Back port https://github.com/intrepidcs/python_ics/pull/23 to all branches"
@drebbe-intrepid I will create the PR for master, v803 and v900

[2019-03-27 14:26] drebbe-intrepid commented on #38
Thanks you, I'll be releasing 3.1 here soon once I resolve another issue I'm working on.

[2019-03-27 14:29] drebbe-intrepid opened #42 "Verify All other Pull requests made it into master branch."
See Issue #38 for more details on one of them.

https://github.com/intrepidcs/python_ics/pull/37
https://github.com/intrepidcs/python_ics/pull/30
https://github.com/intrepidcs/python_ics/pull/4
https://github.com/intrepidcs/python_ics/pull/3
https://github.com/intrepidcs/python_ics/pull/2

[2019-03-27 16:18] #38 closed

[2019-04-04 22:30] drebbe-intrepid opened #43 "Look into adding RAD-Star2 settings"
Look into adding RAD-Star2 settings

[2019-04-05 19:00] drebbe-intrepid commented on #43
v803: 8896b156065b6b03054958b65cc9d6ba25c26bad
v900: a6041752b930ac9931fc9e87aa3620ba0c27db28

[2019-04-05 19:00] #43 closed

[2019-04-05 19:05] drebbe-intrepid commented on #42
Confirmed #37 is inside master and v803: c1cce8addf10e1a896098f08f3c99953469a26cb
Confirmed #30 is inside master and v803: 6efa6e3fef8bbe5126155c9f5cabf43b63e398d6
Confirmed #4 is inside master and v803: 3b560fedfef3c8a8ca50b429bd2ae040a938e999
Confirmed #3 is inside master and v803: 7bfd4aebf2105bc2dbc2f009a542ba26aa147101
Confirmed #2 is inside master and v803: 980743b9439c7d3afd780203898b2f04e5

[2019-04-05 19:05] #42 closed

[2019-04-08 22:09] #36 closed

[2019-04-09 15:37] drebbe-intrepid commented on #32
Closing, from lack of response and duplicate has been removed.

[2019-04-09 15:37] #32 closed

[2019-04-09 16:06] drebbe-intrepid commented on #33
Fixed, closing out.

[2019-04-09 16:06] #33 closed

[2019-04-09 16:07] drebbe-intrepid commented on #28
closing this out due to lack of activity. Please re-open if needed.

[2019-04-09 16:07] #28 closed

[2019-04-09 16:09] drebbe-intrepid commented on #27
I'm going to close this out after further thought, the python_ics module started after v600/700 versions, I would consider an exception thrown okay in this case.

[2019-04-09 16:09] #27 closed

[2019-04-15 21:06] syntroniks commented on #28
Thanks for updating David, I don't have a license current enough to upgrade to that version of Vehicle Spy. I'll try once we renew and I suspect everything will work as intended.

Again, thanks for your investigation and assistance.

[2019-05-10 15:19] ovianao opened #44 "python-ics 4.0 does not have the Python 2.x tags removed"
According to the 4.0 release, support for Python 2.7 was dropped:
https://github.com/intrepidcs/python_ics/releases/tag/v4.0

However, looking at the code here, the Python 2.x tags are still present:
https://github.com/intrepidcs/python_ics/blob/2eca369bf3825fe7032f77298cfecf070f98b504/setup.py#L98

... as a result, on a new Python2 Virtual Environment, when you attempt to install python-ics unres

[2019-05-17 18:27] drebbe-intrepid commented on #44
Will look into this shortly. Thank you for finding this.

[2019-05-21 06:51] YelaShady opened #45 "I can not open the device with RuntimeError raised"
Hi
    I am glad that I find such a usefull python lib for VehicleSpy. But when I run the 'open_device_example.py' it fails withe RuntimeError raised:
Traceback (most recent call last):
  File "D:\spy.py", line 37, in <module>
    device = open_device(i)
  File "D:\spy.py", line 26, in open_device
    device = ics.open_device()
ics.RuntimeError: Error: open_device(): Failed to open device (neoVI F

[2019-05-22 01:26] YelaShady commented on #45
With another device , This issue is solved.

[2019-05-22 01:26] #45 closed

[2019-05-22 03:41] YelaShady opened #46 "Ho to transmit a UDS-ISO14429 message with this lib"
I find that the example of ISO15765 can not send the message with 29 BIT id when I want to send a ISAO14229 format diagnostic message.
Can I send a message withe 29 bit extend message?

[2019-05-23 18:15] drebbe-intrepid commented on #46
@YelaShady Let me look into this and I'll get back to you when I get an answer.

[2019-05-23 18:16] drebbe-intrepid commented on #44
@ovianao I've committed the changes required in the source, I should have the binaries pushed to pypi by end of next week.

[2019-05-23 18:36] drebbe-intrepid commented on #46
@YelaShady,

In the ISO15765 example (examples/iso15765_example.py), the `msg.fc_id` should be your 29-bit ID and the `msg.fc_id_mask` should be set to `0x1FFFFFFF`.

If you need more help then this, I'd recommend contacting our support team. Information on contacting our support team can be found here: https://www.intrepidcs.com/support/contact-support/

[2019-05-28 15:31] ovianao commented on #44
@drebbe-intrepid, this is great.  Thanks very much!

[2019-06-04 17:54] drebbe-intrepid commented on #46
@YelaShady I'm going to close this out, let me know if you need more assistance.

[2019-06-04 17:54] #46 closed

[2019-06-18 14:44] drebbe-intrepid opened #48 "Py_BuildValue with format "s" take in a const char *"
Cherry-pick 95f3c1df4e1ff9e701064faef8d2af57e5cb1301 into other branches besides master.

[2019-06-18 14:45] drebbe-intrepid commented on #48
@pierreluctg

[2019-06-19 22:00] drebbe-intrepid opened #49 "Update documentation"
Documentation needs to be updated to utilize new auto-generated structures.

[2019-06-19 22:01] drebbe-intrepid opened #50 "Document breaking changes"
Document any breaking changes between 4.0 and 5.0.

[2019-06-20 18:51] drebbe-intrepid opened #52 "Fixing GIL issue in message_reflash_callback"
This fixes an issue where we don't always re-lock the GIL when flashing devices (mainly through `open_device` or `force_firmware_update`) and calling the message callbacks.

Need to cherry-pick 6ab321b94028dbef762cc4e6354f8562e968d37a pull request #51 into other branches besides master.

[2019-06-20 18:51] drebbe-intrepid commented on #52
@pierreluctg

[2019-07-01 18:59] #48 closed

[2019-07-01 19:07] #52 closed

[2019-07-01 19:07] #44 closed

[2019-07-01 19:08] drebbe-intrepid commented on #29
This is fixed in 5.0 with new device setting structure.

[2019-07-01 19:08] #29 closed

[2019-07-01 22:12] rahulkumar3 opened #53 "Provide example to send Extended CAN: 29-Bit Identifier"
Can you please add an example to use extended CAN identifier

[2019-07-02 07:53] drebbe-intrepid commented on #53
@rahulkumar3 Let me know, if you need anything else. You can find the example here: examples/transmit_can_xtd_example.py

[code]

[2019-07-02 07:53] #53 closed

[2019-07-03 10:32] freedeaths opened #54 "[Questions] Application on Linux"
OS: Ubuntu 18.04 LTS

Device: ValueCAN 3

1. icsneoapi:master + python_ics:v900

    * some functions not avaiable: I will get RuntimeError: retrieve function in icsneoapi.so when I use "ics.get_device_settings(device)" like #34
    * how to get out of blocked get_messages(): If there is no messages on bus, when I get into get_messages() function, it will be blocked and no ics.RuntimeError returns

[2019-07-08 18:11] drebbe-intrepid commented on #54
@freedeaths
1.) Device settings are not supported in icsneoapi currently so there isn't a way to do this unfortunately. libicsneolegacy has support for device settings but doesn't have support for the replacement functions yet. We still need to add the following function for it to work in python_ics:

`icsneoGetDeviceSettingsType()`
`icsneoGetDeviceSettings()`
`icsneoSetDeviceSettings()`

A workar

[2019-07-09 05:57] freedeaths commented on #54
@drebbe-intrepid

[2019-07-11 12:33] ep081106 opened #55 "sent 15765 message with on valuecan"
hello
i think in the example "iso15765_example.py", it should be used 2 valuecan, could i use one valuecan to send and receive the message?
i tried to changed
    tx_device = open_device(0)
    rx_device = open_device(1)
to
    tx_device = open_device(0)
    rx_device = open_device(0)
but it didn't work.

could you please give an example?

[2019-08-06 23:37] drebbe-intrepid commented on #55
@ep081106: Sorry for the late response...

You would need to modify the example to use only one device:

[code]

Change all instances of `tx_device` and `rx_device` to `device`

Modify netid to `ics.NETID_HSCAN2` for all functions where `rx_device` was.

Wire up a CAN network between CAN1 and CAN2 with termination resistors.

I would have to know more about your network setup to possibly give a be

[2019-08-15 05:43] createValue opened #56 "Failed to open library: 'icsneo40.dll' with erro code: #193 or #126"
The issue seems related to the 'icsneo40.dll'.
When I put the icsneo40.dll into C:\windows\system32\, it comes the error "Failed to open library: 'icsneo40.dll' with error code #193". When I delete the icsneo40.dll in the system32 folder, come out same message " Failed to open library: 'icsneo40.dll' with error code #126.
Tried to put the icsneo40.dll into C:\windows\SysWOW64\, it comes back the s

[2019-08-19 19:39] drebbe-intrepid commented on #56
@createValue
#193 means ERROR_BAD_EXE_FORMAT.
#126 means ERROR_MOD_NOT_FOUND.
https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-

On a 64-bit Windows SysWOW64 is for 32-bit DLLs and system32 is for 64-bit DLLs (Thank Microsoft for this one).

You need to match up the interpreter with the DLL, more than likely your icsneo40.dll is 32-bit so use a 32-bit version of pytho

[2019-09-05 19:28] pierreluctg opened #59 "icsneoWaitForRxMessagesWithTimeOut"
Hi @drebbe-intrepid, any reason why `icsneoWaitForRxMessagesWithTimeOut` is not implemented in python-ics?

I assume this could be more efficient than polling using `icsneoGetMessages`

[2019-09-05 20:49] drebbe-intrepid commented on #59
@pierreluctg No reason in particular, its just the way I've personally done it for years. I'm assuming you are hitting a bottle neck somewhere with one of your setups?

[2019-09-05 20:50] drebbe-intrepid commented on #59
@pierreluctg ignore the question, just seen the pull request.

[2019-09-05 20:54] drebbe-intrepid opened #60 "ics.get_messages() GIL locking performance"
When waiting for messages to come across the bus we lock and unlock the GIL needlessly every 1ms.

See Pull Request here for more details: https://github.com/intrepidcs/python_ics/pull/58

[2019-09-05 20:54] drebbe-intrepid commented on #60
@pierreluctg

[2019-09-05 20:55] drebbe-intrepid commented on #60
Don't close this until we merge this into 4.0 also.

[2019-09-05 20:56] drebbe-intrepid commented on #59
@pierreluctg I'm going to add this as an enhancement unless you are having performance problem even after https://github.com/intrepidcs/python_ics/pull/58

[2019-09-05 20:57] drebbe-intrepid commented on #59
Related: Issue #60

[2019-09-06 12:24] pierreluctg commented on #60
@drebbe-intrepid, please see #62, #63 and #64.

Thank you

[2019-09-09 16:39] drebbe-intrepid commented on #60
@pierreluctg Merged, thank you for taking the time to do this! Are you in an immediate need for a release?

[2019-09-09 16:41] pierreluctg opened #65 "Support many different icsnVC40.h versions in one release"
@drebbe-intrepid would it be possible to to support many different icsnVC40.h versions in one release? Essentially keeping a copy of the structure for each versions and switch when we initialize the DLL.

The issue we have is that when we install a python package that depends in python-ics, there is not easy way to query the installed neoVI driver version and then choose the appropriate python-ics

[2019-09-09 16:45] drebbe-intrepid commented on #65
@pierreluctg Let me discuss internally and see what I can do here. I agree with everything here. Version 5.0 I rewrote all the structure handling so this should be a lot easier to manage something to work in between versions when something breaks backwards compatibility.

[2019-09-09 18:33] pierreluctg commented on #60
@drebbe-intrepid it would be appreciated if you could push some release, yes.

We are using v803 mainly and will be moving to v900 soon.

Thank you

[2019-09-16 13:49] pierreluctg commented on #60
@drebbe-intrepid is there anything I can do to accelerate this?

Thank you

[2019-09-16 15:05] drebbe-intrepid commented on #60
@pierreluctg I'll make sure to do a release at the end of the day today.

[2019-09-17 18:02] drebbe-intrepid commented on #60
@pierreluctg I didn't have time to do this yesterday, I'm going try and do it today.

[2019-09-18 22:49] drebbe-intrepid commented on #60
@pierreluctg sorry for the delay, v3.2 (v803) and v4.3 (v900) are built and up on pip.

[2019-09-19 14:17] pierreluctg commented on #60
Thank you @drebbe-intrepid

[2019-10-07 17:01] drebbe-intrepid opened #66 "ics.get_device_settings() and ics.set_device_settings() documentation needs updating"
ics.get_device_settings() and ics.set_device_settings() documentation needs updating for v5.0.

New generation scripts don't update anything on the documentation side yet.

[2019-10-07 17:10] drebbe-intrepid commented on #65
@pierreluctg After a lot of consideration and thinking about this there isn't much to actually do here. For the most part the API is fairly stable, even if you are using a newer version of the python_ics library it still should remain fairly backwards compatible with older versions. If there is something that is actually broken please generate a bug report and I'll fix it ASAP.

That being said I

[2019-11-08 08:59] keelung-yang opened #67 "Python 3.8 support"
In one of our project migrating to python 3.8, ics is one of 3 top packages which not support Python 3.8. So please add 3.8 to support list. Thanks!

[2019-11-08 15:38] drebbe-intrepid commented on #67
@keelung-yang I've uploaded v4.3 to pip. I did a quick check of the Python 3.8 change log and made sure I could at least call a few functions of the module, consider this experimental support for right now.

Thank you for reporting this, time has been flying by and I missed the release date!

[2019-11-08 15:39] #67 closed

[2019-11-08 16:20] keelung-yang commented on #67
Thanks for your such quick fix. It saved me! Now we've only 2 packages left. THANK YOU VERY VERY MUCH!

[2019-12-13 19:41] pokemane opened #69 "get_messages() either segfaults or returns an error with timeout=0"
First, apologies if this isn't the right repo to bring this up in; I'm trying to use pylessard/python-udsoncan, pylessard/python-can-isotp, and hardbyte/python-can to work with UDS, and python-ics as the actual hardware layer.

python-ics by itself works fine, and adding python-can seems fine too. However, when I went to add python-can-isotp, I started getting segfaults when it was trying to recei

[2019-12-17 20:05] drebbe-intrepid commented on #69
@pokemane Can you provide a script to reproduce this behavior and provide details on your environment (operating system, python version, 32bit or 64bit, icsneo40.dll version, etc).

[2019-12-17 20:23] pokemane commented on #69
We were actually just looking at this, good timing!

It looks like it might be that [this `count` variable](https://github.com/intrepidcs/python_ics/blob/master/src/methods.cpp#L956) is never actually initialized if the timeout is `0`. It never enters the two `for` loops, and the first one is what gives that counter a value, so maybe when it reaches [here](https://github.com/intrepidcs/python_ics/

[2019-12-17 20:25] pokemane commented on #69
That script is only "half" of a two-script setup, the other half is the "threaded message receive" example from the iso-tp project. I know it's trying to send a multiframe message and it'll never get the flow control frame, but it only segfaults when trying to "process" multiframe messages regardless of whether or not there's something on the other end to give it a flow control response back.

[2019-12-18 17:24] drebbe-intrepid commented on #69
@pokemane Can you also provide what Intrepid hardware you are using? I'll try to look at this as soon as possible but with the end of the year and holiday coming up it might take me a while.

There is nothing obvious that I can think of off the top of my head why it would be crashing.

[2019-12-18 17:49] pokemane commented on #69
@drebbe-intrepid No problem, I appreciate the time!

I'm using a neoVI FIRE 2. I haven't tried with a neoVI FIRE. I've tried (and reproduced) this on HS1 and HS2, but haven't tried any of the other CAN buses at this time.

[2020-01-03 17:15] djcatter commented on #28
We were able to repeat this with python 2.7 with the latest version of VSpy 3.9.1.27 and DLLs. Can try  on a new ValueCAN4 if that would help. Just set the demo script to 2.

Note that the padding does fill out in the Flow Control Frame.

Opened Device ValueCAN3 135678.
Opening Device ValueCAN3 133157 (Open Client handles: 0)...
Opened Device ValueCAN3 133157.
Setting up iso15765 message on ValueC

[2020-02-10 18:44] pierreluctg opened #71 "Access Violation error when calling ics.set_bit_rate"
Under certain condition calling ics.set_bit_rate triggers a access violation error and cause Python to crash.

The following code can be use to reproduce the issue.

The loop is there a account for different environment. From my observation modifying the environment variable with this loop cause the issue.

The use of subprocess is simply to be able to trigger the issue without causing the main lo

[2020-02-10 19:01] pierreluctg commented on #71
With the code above, we see the issue when using ValueCAN4-2. but not when using ValueCAN3.

[2020-02-10 19:01] drebbe-intrepid commented on #71
@pierreluctg Can you supply me with a few things:

-Stack Trace output
-Windows Version (32/64bit)
-Intrepid Product being used
-icsneo40.dll version

[2020-02-10 19:15] pierreluctg commented on #71
- Python Stack Trace (with PYTHONFAULTHANDLER set to 1)
[code]

- Process dump
[code]
- Windows Version (32/64bit)
    Windows 10 64 bit (1809)
- Intrepid Product being used
    What we observe is that ValueCAN4-2 is affected but not the ValueCAN3.
- icsneo40.dll version
    We have tried 3.8.3.104 and 3.9.0.81
- python-ics version
    Tried 3.2.post2, 4.3 and 5.0 (master branch)
- Python version

[2020-02-10 19:18] drebbe-intrepid commented on #71
@pierreluctg Thanks, I'll look into this ASAP, at first look this seems to be something internal to icsneo40 dll. I'll let you know what I find.

[2020-02-10 19:26] drebbe-intrepid commented on #71
@pierreluctg I was able to reproduce it here. I'll let you know what I find.

[2020-02-10 22:11] drebbe-intrepid commented on #69
@pokemane sorry for the delay but I believe the issue has been fixed. It will be in 4.4 once I get around to building it.

In the mean time if you have visual studio 2015+ install you can build straight from git with the following command:

```pip install git+https://github.com/intrepidcs/python_ics@v900```

[2020-02-12 17:40] pierreluctg commented on #71
Not a python-ics issue. @drebbe-intrepid is pushing a fix in the driver.

Thank you @drebbe-intrepid

[2020-02-12 17:40] #71 closed

[2020-02-13 22:49] drebbe-intrepid commented on #69
@pokemane I've build and released version 4.4. I'm going to close out this issue. Please re-open if you find this didn't fix your issue.

[2020-02-13 22:49] #69 closed

[2020-02-14 20:40] #55 closed

[2020-02-14 20:40] #56 closed

[2020-02-14 20:41] #54 closed

[2020-05-09 02:32] layerthinker opened #72 "undefined symbol in Ubuntu 18.04"
Run following python command:
import ics
ics.override_library_name("/usr/lib/x86_64-linux-gnu/libicsneolegacy.so")

Got error:
override_library_name(): Failed to open library '//usr/lib/x86_64-linux-gnu/libicsneolegacy.so': /usr/lib/x86_64-linux-gnu/libicsneolegacy.so: undefined symbol: _ZN6icsneo6Device17SerialNumToStringB5cxx11Ej

[2020-05-09 02:37] layerthinker commented on #72
This is the output with:
cmake ..
-- Build type: RelWithDebInfo
-- Boost version: 1.65.1
-- Not generating API documentation
fatal: No annotated tags can describe '2a47b6f179699f67dc8c39634ea245c49b02ec0f'.
However, there were unannotated tags: try --tags.
-- Detected git snapshot version: unknown
-- Not building libftdi1++
-- Not building python bindings
-- ftdi_eeprom build is disabled
-- libCon

[2020-05-09 02:41] layerthinker commented on #72
Inspection results of shared object:
$nm -D libicsneolegacy.so | grep _ZN6icsneo6Device17SerialNumToString
                 U _ZN6icsneo6Device17SerialNumToStringB5cxx11Ej
0000000000137378 T _ZN6icsneo6Device17SerialNumToStringEj

[2020-05-13 06:24] keelung-yang opened #73 "Confused ISO15765 API name"
iso15765_transmit_message() is used to **transmit** msg.
iso15765_receive_message(), **receive** none of msg, but used to setup receiving msg.

So why not just _iso15765_setup_rx_msg_() or more generic _setup_rx_msg_(msg_type : iso15765/raw...) ?

[2020-05-13 06:28] keelung-yang opened #74 "st_cm_iso157652_tx_message/st_cm_iso157652_rx_message flags are not implemented."
It's hard to memery bit positions in flags.
Maybe using python buildin IntEnum class is a good choose.

[2020-05-13 06:36] keelung-yang opened #75 "Add Data member to CmISO157652RxMessage"
Just like in CmISO157652TxMessage.

We need to combine SpyMessages into a ISO1576 message manually.
It's better to be done by python_ics package since this is generic to applications.

[2020-05-13 06:51] keelung-yang opened #76 "Mixed code style"
Such as in CmISO157652TxMessage:
both
[code]
and
[code]
are used.
There are very confused and make against both memory and reading/writing code fluently

[2020-05-26 14:00] #65 closed

[2020-07-21 16:38] arraypan opened #78 "ValueCAN 3 is not supported"
Running on Raspberrypi 4.19.97

[2020-07-22 19:28] hollinsky-intrepid commented on #78
This ended up being a permissions issue with the setup, see the udev rules note at the bottom [here](https://github.com/intrepidcs/libicsneo#linux).

[2020-07-22 20:09] #78 closed

[2020-07-22 20:09] arraypan commented on #78
Thanks

[2020-09-30 13:33] jjguti opened #82 "Linux support"
Hi,

we are running on linux (debian 9) to connect to a RAD Pluto. According to the instructions, we should be using icsneoapi (https://github.com/intrepidcs/icsneoapi) but it doesn't seem to have support for that. If we use (https://github.com/intrepidcs/libicsneo) then the library names don't match, but if we use:

`ics.override_library_name("/usr/lib/x86_64-linux-gnu/libicsneoc.so")`

or

`ics.

[2020-09-30 15:55] hollinsky-intrepid commented on #82
Hi @jjguti,

`ics.override_library_name("/usr/lib/x86_64-linux-gnu/libicsneolegacy.so")` is the correct import. This Python library is written against icsneo40, and the "legacy" bindings within libicsneo are meant to be a drop in replacement for that.

We should track down where you're seeing a segmentation fault. Do you know which line in your code triggers it?

[2020-10-01 10:14] jjguti commented on #82
Ok, I will be able to try this again on Monday, but is this documented somewhere? I am maybe looking at the wrong documentation?

I tested this locally just now (I don't have the device with me) and it seemed to work but of course I cannot test the segmentation fault.

Thanks for the help!

[2020-10-16 03:05] eismog opened #83 "Linux Used libicsneo/libicsneolegacy transmit_messages got "ics.RuntimeError: Error: transmit_messages(): icsneoTxMessages() Failed""
The device can be connected  and some can signal can be received,
but can't send bellow can msg.

[code]

### log
[code]

[2020-10-16 06:32] eismog commented on #83
This msg is can-FD. my error use case. so close it.

[2020-10-16 06:32] #83 closed

[2020-10-16 19:42] pierreluctg opened #84 "Inconsistent behavior of `get_messages` on Linux and Windows"
Hi, we are observing a very large delay between Tx and Rx (of that same Tx message) on Linux when using libicsneo legacy API.

I have attached a code example showing the issue. On windows this is results in a tx+rx delay mean time of about 0.0025 sec. on Linux we get about 1 sec.

This means that on Linux sending a message (CAN in our case) and receiving that same message on the same CAN adapter a

[2020-10-16 19:43] pierreluctg commented on #84
Hi @drebbe-intrepid, please have a look.

I will also post a PR with a fix.

[2020-10-16 19:45] pierreluctg commented on #84
Please see PR #85

[2020-10-19 16:32] drebbe-intrepid commented on #84
This has been merged into v900 branch, needs to be pulled into other branches. I'll leave open for now with tags.

[2020-10-19 16:33] drebbe-intrepid commented on #84
I still need to test this but I don't foresee any issues here.

[2020-10-19 16:34] drebbe-intrepid commented on #84
PR #86

[2020-10-19 17:13] pierreluctg commented on #84
Thank you @drebbe-intrepid.
Can you also push to v901 and master branch?

Can we also have a new release of the v900 (4.x) branch with this fix?
Or a first release from v901 (5.x) with this fix in?

[2020-10-19 17:17] drebbe-intrepid commented on #84
@pierreluctg I'll push it to all new branches and I'll make a new release for v900 (4.x) branch. I just want to test this a bit more before releasing this one.

[2020-10-20 12:26] pierreluctg opened #88 "Using correct value type in coremini read/write app signal"
meth_coremini_read_app_signal isincorrectly returning a python int instead of a python float. The double to python int conversion was resulting in always returning 0.

meth_coremini_write_app_signa isincorrectly taking a python int for the value argument instead of a python float.

[2020-10-20 14:03] drebbe-intrepid commented on #88
Thanks for catching this.

[2020-10-20 14:03] drebbe-intrepid commented on #88
Leaving open so I can merge into newer branches at a later date.

[2020-10-20 15:30] drebbe-intrepid commented on #82
I've updated the documentation to reflect this. Will be in the next build.

https://github.com/intrepidcs/python_ics/commit/e368845ee052f039e5ac56f2e22ef5a08e20d754

[2020-10-20 18:00] drebbe-intrepid commented on #82
https://python-ics.readthedocs.io/en/v4.6/#installation-on-linux

[2020-10-20 18:00] #82 closed

[2020-10-20 18:01] drebbe-intrepid commented on #84
https://github.com/intrepidcs/python_ics/releases/tag/v4.6

[2020-10-20 18:01] #84 closed

[2020-10-20 18:01] drebbe-intrepid commented on #88
https://github.com/intrepidcs/python_ics/releases/tag/v4.6

[2020-10-20 18:01] #88 closed

[2020-10-20 18:02] drebbe-intrepid commented on #76
Unfortunately this is out of my control as the existing C style is to blame on this one.

[2020-10-20 18:02] #76 closed

[2020-10-20 18:02] drebbe-intrepid commented on #75
@keelung-yang Can you expand on this more and provide an example?

[2020-10-20 18:04] drebbe-intrepid commented on #73
I agree the name is confusing but its how the C API was written so its outside of the scope here.

[2020-10-20 18:04] #73 closed

[2020-10-20 18:07] drebbe-intrepid commented on #72
@layerthinker sorry for the late response but you would be better off posting this over at https://github.com/intrepidcs/libicsneo since it pertains to the libicsneo library.

[2020-10-20 18:07] #72 closed

[2020-10-20 18:08] #60 closed

[2020-10-20 18:09] drebbe-intrepid commented on #59
Closing this out.

Related: #84

[2020-10-20 18:09] #59 closed

[2020-11-13 02:47] changmaifan opened #89 "while only one message sent,Get two messges from the methon ics.get_messages()，pyhon ics 4.6"
with the python-ics4.6, send only one message ,but get two same messages from the the methon ics.get_messages().
ics.iso15765_transmit_message
0x760 0x2 0x10 0x3

ics.get_messages().
0x760  0x2 0x10 0x3
0x768  0x6 0x50 0x3
0x760  0x2 0x10 0x3
0x768  0x6 0x50 0x3

[2020-11-18 19:07] drebbe-intrepid commented on #89
@changmaifan Can you provide more information here?

- Source code
- Hardware setup (What intrepid hardware and what its attached to)
- Operating System
- icsneo40.dll version (libicsneo if on linux)

[2020-12-01 06:50] eric-qianfeng opened #90 "Failed to enable the Fire2 network HSCAN6 & HSCAN7"
There is a function in python lib:
`ics.set_device_settings(device, Settings, save_to_eeprom, vnet_slot)`

But the parameter Settings (ics.DeviceSettings) doesn’ t have the property “fire2”, I guess maybe it is “cyan”, but when I try to use ics.get_device_settings(device) to test it, I failed to get the baudrate value.

The following is the return value s:
![DeviceSetting](https://user-images.gith

[2020-12-01 06:57] eric-qianfeng opened #91 "VCAN4-4 HSCAN & HSCAN2 tx & rx ISO15765-2 have different manifestation"
When use VCAN4-4 to tx & rx 15765-2 message and found a very weird things. Attached the python code they used, which is based on the demo code. Please remove the txt extenstion.
[iso15765_example.py.txt](https://github.com/intrepidcs/python_ics/files/5620732/iso15765_example.py.txt)

If use network HSCAN1 (netid is ics.NETID_HSCAN), the get_messages function return the messages what we want, it in

[2020-12-07 16:28] drebbe-intrepid commented on #90
@eric-qianfeng Can you provide me with the following:

1. OS version
2. Python version
3. icsneo40.dll version
4. license level in explorer.
5. network enables are not enabled in explorer.
6. baudrate in explorer (default is 8 (500000)). This is a enum representation of the baudrate and not the actual value.
7. Firmware version in explorer (are any red?)
8. does `ics.load_default_settings()` resul

[2020-12-07 16:32] drebbe-intrepid commented on #91
@eric-qianfeng Can you provide me with the following:

1. OS version
2. Python version
3. icsneo40.dll version
4. Is this reproducible every time?
5. Hardware setup. It looks like you have two different setups, FIRE2 to FIRE2 and ValueCAN4-4 to ValueCAN4-4?

[2020-12-08 02:27] eric-qianfeng commented on #90
@drebbe-intrepid , the following is my answer:
1. OS version
    * Windows 10
2. Python version
    * V3.6.8 (32-bit)
3. icsneo40.dll version
    * V3.9.3.17
4. license level in explorer.
    * Do you mean neoVI explorer? I am not sure its license level, is it not free? But my VSpy3 is enterprise.
5. network enables are not enabled in explorer.
     * I use `Load Default Settings` in explorer firs

[2020-12-08 02:43] eric-qianfeng commented on #91
@drebbe-intrepid , the following is my answer:
1. OS version
    * Windows 10
2. Python version
    * V3.6.8 (32-bit)
3. icsneo40.dll version
    * V3.9.3.17
4. Is this reproducible every time?
    * Yes, it is.
5. Hardware setup. It looks like you have two different setups, FIRE2 to FIRE2 and ValueCAN4-4 to ValueCAN4-4?
    * Yes, two setups to compare the result. One is ValueCAN4-4 to Fire2, ano

[2020-12-08 19:30] drebbe-intrepid commented on #90
@eric-qianfeng Thanks for catching that, the example is wrong. That is a failed copy and paste.

Even when you load defaults in neoVI Explorer if the license level in the hardware is not set correctly the network enables will not be set. It should be able the firmware versions when you first connect to the device for the license level.

`ics.load_default_settings()` directly tells the firmware to

[2020-12-11 14:34] drebbe-intrepid commented on #91
I was unable to reproduce this here and I looks like you are in contact with our support department. I'm going to close this out, if you find there is an issue with the API please re-open this issue please!

[2020-12-11 14:34] #91 closed

[2020-12-11 14:35] drebbe-intrepid commented on #75
I'm going to close this out, please feel free to open this again in the future if needed.

[2020-12-11 14:35] #75 closed

[2020-12-11 14:43] drebbe-intrepid commented on #90
I was unable to reproduce this here and I looks like you are in contact with our support department. I'm going to close this out, if you find there is an issue with the API please re-open this issue please!

Documentation bug with `ics.load_default_settings()` will be in the next releases.

[2020-12-11 14:43] #90 closed

[2021-03-21 03:38] alwaysberay opened #92 "Need detailed documentation about CmISO157652TxMessage.flags and CmISO157652RxMessage.flags"
Need detailed documentation about CmISO157652TxMessage.flags and CmISO157652RxMessage.flags

[2021-03-23 00:54] alwaysberay opened #93 "How to transmit/receive 15765 message to/from multiple nodes with functional addressing ids"
How to transmit/receive 15765 message to/from multiple nodes with functional addressing ids, like below.

[code]

[2021-03-24 15:16] drebbe-intrepid commented on #92
See:
TX:
https://github.com/intrepidcs/python_ics/blob/master/examples/iso15765_example.py#L68
https://github.com/intrepidcs/python_ics/blob/master/include/ics/icsnVC40.h#L3351
https://cdn.intrepidcs.net/support/neoVIDLL/ISO15765TxMessage.htm

RX:
https://github.com/intrepidcs/python_ics/blob/master/examples/iso15765_example.py#L96
https://github.com/intrepidcs/python_ics/blob/master/include/ics/i

[2021-03-24 15:18] drebbe-intrepid commented on #93
Can you provide source to that output please?

[2021-03-24 15:30] drebbe-intrepid commented on #92
Also future versions are going to break old behavior and include the bitfields:

https://github.com/intrepidcs/python_ics/blob/master/ics/structures/st_cm_iso157652_tx_message.py
https://github.com/intrepidcs/python_ics/blob/master/ics/structures/st_cm_iso157652_rx_message.py

I have some blockers I need to fix before I can a new release out.

[2021-03-31 02:29] alwaysberay commented on #93
Thanks for your reply. That's just an example about expected behavior.
That is --
1. Transmit a UDS service message to all nodes using functional addressing
2. Receive all response messages from all nodes
3. Handle FC events if needed
Is it possible to do the about things with 15765 message functions?

[2021-03-31 02:30] #92 closed

[2021-03-31 14:04] drebbe-intrepid commented on #93
When you send a message Functionally, the responses back are all physically addressed.  In your code you would need to setup the ISO15765 Rx messages for the IDs you are expecting to get back.  If you are unsure of the possible IDs that could come back, sending a request out and see the IDs that come back is one way to get the IDs to look for and configure.  You would also need to know the pattern

[2021-03-31 14:24] drebbe-intrepid commented on #89
I'm going to assume this is a non-issue as there has been no response for about 5 months. Feel free to re-open this if needed.

[2021-03-31 14:24] #89 closed

[2021-04-02 18:02] drebbe-intrepid opened #94 "NeoDevice and icsSpyMessage needs to be migrated over to new structures"
`NeoDevice` and `icsSpyMessage` needs to be migrated over to new structures.

[2021-04-02 18:44] drebbe-intrepid commented on #74
Updated example https://github.com/intrepidcs/python_ics/blob/master/examples/iso15765_example.py

References to the new structures:

- https://github.com/intrepidcs/python_ics/blob/master/ics/structures/st_cm_iso157652_tx_message.py
- https://github.com/intrepidcs/python_ics/blob/master/ics/structures/st_cm_iso157652_rx_message.py

**TODO:** This all still needs to be tested in master.

[2021-04-02 21:29] drebbe-intrepid commented on #49
Documentation seems to be functional again.

[2021-04-05 16:06] drebbe-intrepid commented on #94
New structures are disabled for right now.

[2021-04-05 16:08] drebbe-intrepid commented on #50
Only thing that broke was device settings as we moved to global settings structure.

[2021-04-05 16:52] #49 closed

[2021-04-05 16:52] drebbe-intrepid commented on #50
Documentation updated per b41a4abb3897f7e83d5d01fd23f8b4513a343eca

[2021-04-05 16:52] #50 closed

[2021-04-05 16:53] drebbe-intrepid commented on #74
This will be tested before release, Documentation and flags have been implemented.

[2021-04-05 16:53] #74 closed

[2021-04-05 16:54] drebbe-intrepid commented on #66
This seems to have been updated at some point.

[2021-04-05 16:54] #66 closed

[2021-05-11 18:59] #13 closed

[2021-05-26 09:30] shinhwap commented on #56
@drebbe-intrepid
Hello, I have the same problem.
If I install Vehicle Spy 3, program work.
But if I uninstall Vehicle Spy3, program show the same error above.
I have checked SysWOW64 is 32-bit DLL and system32 is 64-bit DLL.
Why should I need keep Vehicle Spy 3 installed in my computer?

[2021-05-26 14:57] drebbe-intrepid commented on #56
@shinhwap You'll need to have Vehicle Spy 3 installed or at a bare minimum copy icsneo40.dll before you uninstall and recopy it back into SysWOW64/system32 directory. Please contact our support team for additional help: https://intrepidcs.com/support/contact-support/

[2021-06-03 17:52] pierreluctg opened #96 "Broken compatibility with libicsneo"
With the commit https://github.com/intrepidcs/python_ics/commit/f09909e70a23dff99a0b9a99c5a54c74c58b9239, the move to from `icsneoOpenNeoDevice` to `icsneoOpenDevice` the compatibility with `libicsneolegacy.so` is broken.

`icsneoOpenDevice` is not present in `libicsneolegacy.so`.

[2021-06-08 19:47] pierreluctg opened #97 "Exception changed in version 903.17"
Since version 903.17, the `RuntimeError` changed location.

This sample code will produce different exception in version 4.6 (and prior) and version 903.17 (and newer).

[code]

With python-ics 4.6,  we get `ics.RuntimeError: Error: open_device(): Failed to find a device to open.`
With python-ics 903.17, we get `ics.ics.RuntimeError: Error: open_device(): Failed to find a device to open.`

The pat

[2021-06-08 20:53] drebbe-intrepid commented on #97
This is an under the hood change. All the original APIs from the c module code have been moved to `ics.ics`. Its very dirty but had to be done since I'm mixing pure python code with c module that need to have the same module namespace.

This should still be functional and backwards compatible:
[code]

[2021-06-08 20:54] drebbe-intrepid commented on #97
[code]

[2021-06-08 20:56] drebbe-intrepid commented on #97
All the "magic" is done in the init file here:

https://github.com/intrepidcs/python_ics/blob/master/ics/__init__.py

[2021-06-09 12:25] pierreluctg commented on #97
Thank you @drebbe-intrepid.

[2021-06-09 12:25] #97 closed

[2021-06-10 12:04] tiger86023086 opened #98 "Install package "structures",but cannot use module ics"
When generate exe from my code which include code: ​
   ​ics.find_devices()

beacase genreating exe report error--no module structures.so I installl module structures 9.0.5.
But then the code " ​ics.find_devices()" report  error--ics have no attribute ''find_devices"

[2021-06-10 12:04] tiger86023086 opened #99 "Install package "structures",but cannot use module ics"
When generate exe from my code which include code: ​
   ​ics.find_devices()

beacase genreating exe report error--no module structures.so I installl module structures 9.0.5.
But then the code " ​ics.find_devices()" report  error--ics have no attribute ''find_devices"

[2021-06-10 12:06] tiger86023086 commented on #99
I find in folder ics,the __init__.py:

try:
    from ics import *
    from structures import *
except:
    from ics.ics import *
    from ics.structures import *

Is there an error in it?

[2021-06-10 22:18] #98 closed

[2021-06-11 23:02] hollinsky-intrepid commented on #96
We're all set here, thanks @drebbe-intrepid and @pierreluctg!

[2021-06-14 20:33] drebbe-intrepid commented on #96
@pierreluctg I'll let you close this out, I did test this under Ubuntu with two vcan4.4s.

[2021-06-18 14:04] drebbe-intrepid commented on #99
Sorry for the late response, the proper way is to include the `hidden_imports` into your installer script. This is currently a bug with the latest release (904.18). Master has fixed this and should be released in a couple weeks.

https://github.com/intrepidcs/python_ics/blob/master/ics/hiddenimports.py

Here is the documentation (still needs to be updated again):
https://python-ics.readthedocs.io/

[2021-07-14 09:28] KyrieGuo123 opened #101 "AttributeError: module 'ics.structures' has no attribute 's_extended_data_flash_header'"
AttributeError: module 'ics.structures' has no attribute 's_extended_data_flash_header'

[2021-07-19 19:47] drebbe-intrepid commented on #101
@KyrieGuo123 Can you please provide your method of install, operating system, python version, `pip freeze` output, and any code outside the normal `import ics`?

[2021-07-19 20:27] drebbe-intrepid commented on #99
@tiger86023086 v905.10 is in the test repo now and should have this fixed.

https://python-ics.readthedocs.io/en/v905.10/#pyinstaller

https://test.pypi.org/project/python-ics/

If no issues are found this will be pushed to an actual release in the next week or so.

[2021-07-21 15:28] pierreluctg commented on #96
Tested on Ubuntu 20.04

Thank you @drebbe-intrepid  and @hollinsky-intrepid.

[2021-07-21 15:28] #96 closed

[2021-08-18 00:11] hollinsky-intrepid opened #103 "Install is broken on macOS"
See #102

[2021-08-18 00:13] hollinsky-intrepid opened #104 "Add clang-format to list of dependencies"
Not 100% sure if it's a dependency for Windows, but for macOS and Linux you need to install clang-format.

On macOS, that's easiest with the homebrew package manager and `brew install clang-format`.

On Debian based (i.e. Ubuntu) Linux, you can do `sudo apt install clang-format`.

[2021-08-18 14:21] drebbe-intrepid commented on #104
This check should probably be added to `setup.py` as its only needed when building the package from source. Windows has binaries so its usually never needed.

[2021-08-18 17:58] drebbe-intrepid commented on #103
Fixed in v905.11

[2021-08-18 17:58] drebbe-intrepid commented on #104
Fixed in v905.11

[2021-08-18 19:02] #104 closed

[2021-08-18 19:02] #103 closed

[2021-08-18 19:49] drebbe-intrepid commented on #101
I'm going to go ahead and close this out as I believe any issues you were possibly having were more than likely fixed with the latest release. If you are still having this issue in the future feel free to open this back up.

[2021-08-18 19:49] #101 closed

[2021-08-18 19:50] drebbe-intrepid commented on #99
v905.11 is release and has this fixed.

[2021-08-18 19:50] #99 closed

[2021-08-24 14:34] drebbe-intrepid opened #105 "e_device_settings_type enum values wrong."
The following enum values are incorrect due to python `enum.auto()` starting at 1 instead of 0.
`e_device_settings_type`
`e_plasma_ion_vnet_channel_t`
`flex_vnet_mode`

[2021-08-24 14:35] drebbe-intrepid commented on #105
Fixed in
v906: e8025051d58533089f71305b5a974f8eb1db9fe7
v905: ded4b8529d4e1f14e58184cb2ab574a654efc83e

[2021-08-24 15:18] drebbe-intrepid commented on #105
fixed in v905.11post1

[2021-08-24 15:18] #105 closed

[2021-09-01 22:20] hollinsky-intrepid opened #107 "Structures are not being properly generated on macOS"
This causes a "_getPythonModuleObject(): Failed to import module" error when calling `get_device_settings()`

[2021-09-06 02:54] dong408765778 opened #109 "Can't import ics under 32-bit python environment"
Environment:
1. Win10
2. 32-bit python
3. spy3.8.2.111 installed

When I try to import ics under 32-bit python environment, I got an error
[code]

[2021-09-13 14:34] ic3man5 commented on #109
903.17 is old, please update to latest 905.11.

`pip install python_ics --upgrade`

[2021-09-13 14:35] ic3man5 commented on #109
#99

[2021-09-15 01:56] dong408765778 commented on #109
Got same error with 905.11
[code]

[2021-09-15 02:39] drebbe-intrepid commented on #109
```ImportError: DLL load failed while importing ics: 找不到指定的模块。```

This is related to not being able to load the `icsneo40.dll` properly. Google translate says "The specified module could not be found.". This means icsneo40.dll is not in your system path.

[2021-12-03 19:35] pierreluctg opened #111 "Potential Heap Corruption in ics.transmit_messages"
Heap corruption fatal exception can occur in `ics.transmit_messages` when using data over 64 bytes.

**I agree that data length over 64 bytes is not valid, but I do not believe it should produce a fatal exception.**

### The code bellow will produce the errors as seen here
(Most frequent)
[code]
or
[code]
or
[code]

### Code to produce the issue
[code]

### Events from Windows Event Viewer
[code]

[2022-01-10 18:40] #107 closed

[2022-01-10 19:28] drebbe-intrepid commented on #109
I'm closing this out; if you are still having issues, feel free to re-open this.

[2022-01-10 19:28] #109 closed

[2022-01-10 19:28] drebbe-intrepid commented on #111
@pierreluctg I'm looking into this now

[2022-01-10 21:53] drebbe-intrepid commented on #111
@pierreluctg I've confirmed this is an issue inside icsneo40.dll itself. We allocate 64 max and then attempt to memcpy the length given in the struct. I'm writing up a bug internally for this.

[2022-01-10 21:56] drebbe-intrepid commented on #111
@pierreluctg Would you prefer `ics.transmit_messages()` to truncate or fail (raise an exception) when over 64 bytes here?

[2022-01-11 13:30] pierreluctg commented on #111
If `NumberBytesData` is correctly set to 64 (max), `ExtraDataPtr` should be able to point to a structure of at least 64 bytes. So in this case truncating is fine.

However, a more pythonic behavior would be to raise an exception.

I am ok with both.

[2022-02-08 05:41] 1994lwz opened #115 "Failed to send LIN msg with the demo code "def testLIN(self):""
HW: SPY3 FIRE2
LIN message could be send success with IDE of SPY3.
While when sent LIN msg with the demo source code, we hit 3 issues:
1) Not sure the checksum method is for enhance mode or classic mode
2) If "SpyMessageJ1850" method was mandatory for LIN message send, or we can use SpyMessage method like CAN message send?
3) If it was sent in slave mode when not set message.StatusBitField  as ics

[2022-03-21 16:46] ic3man5 commented on #115
@1994lwz Sorry for the late response. The checksum is dependent on how you sent the message in VSPY3. Defaults to classic when you create a message and can be changed to enhanced.

Here is an example I use to transmit random bytes with a classic checksum.

[code]

[2022-03-29 15:32] drebbe-intrepid opened #117 "Device Feature support was pushed to v909. Need to strip from master (v908)"
Device Feature support was pushed to v909. Need to strip from master (v908)

[2022-05-04 20:04] zhihongliuus opened #118 "Windows fatal exception: access violation"
Device: ValueCAN 4x4
Issue happened when running:
`data = ics_msg.ExtraDataPtr[: ics_msg.NumberBytesData]`

Full code:
[code]

Result:

**Windows fatal exception: access violation**

Current thread 0x000049c8 (most recent call first):
  File "C:/debug.py", line 9 in _ics_msg_to_message

[2022-05-26 14:01] danieldiaz7 opened #119 "NeoVI Fire Device Not detected"
After running this code:

[code]

It never prints out my NeoVI Fire 2 Device's name. When I have vehicle spy running, the device is recognized and I can connect to it. However, when I try to run this script, it's not able to find any device. Any help would be appreciated

[2022-06-09 08:14] YongwangWu opened #120 "How to build a app(*.exe)?"
I tried to build a application,for example,to build a module in examples folder with pyinstaller,it output a transmit_can_example.exe,however,it raise error.
The detail is as following:

PS E:\Programs\Pythons\Trial\python_ics-master\examples\dist> .\transmit_can_example.exe
Traceback (most recent call last):
  File "transmit_can_example.py", line 1, in <module>
  File "<frozen importlib._bootstra

[2022-06-10 08:31] hjkipom opened #121 "After I package the exe, the program will report an error"
error code:
File "ics\__init__.py", line 2, in <module>
AttributeError: module  'ics.structures' has no attribute 's_extended_data_flash_header'

[2022-06-10 08:37] hjkipom commented on #121
The whole process

Traceback (most recent call last):
  File "GUI.py", line 5, in <module>
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "C:\Users\Lenovo\AppData\Roaming\Python\Python39\site-packages\PyInstaller\loader\pyimod

[2022-06-15 00:48] YongwangWu commented on #120
Traceback (most recent call last):
  File "transmit_can_example.py", line 1, in <module>
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen importlib._bootstrap>", line 955, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 665, in _load_unlocked
  File "PyInstaller\loader\pyimod03_importers.py", line 495, in exec_module
  File "ics\__init__.p

[2022-06-20 17:15] drebbe-intrepid commented on #121
Please see https://python-ics.readthedocs.io/en/v905.10/#pyinstaller for details on how to package

[2022-06-20 17:15] drebbe-intrepid commented on #120
Please see https://python-ics.readthedocs.io/en/v905.10/#pyinstaller for details on how to use PyInstaller with this module

[2022-06-20 17:18] drebbe-intrepid commented on #119
@danieldiaz7 sorry for the late reply, can your provide more details on platform? Does this work if vehicle spy isn't running?

[2022-06-22 11:39] Nico-Pie opened #122 "Not able to find devices on arm chip"

[2022-06-23 18:09] chollandvoxx opened #123 "Missing Receive Messages"

[2022-06-24 14:58] #122 closed

[2022-07-22 19:06] drebbe-intrepid commented on #119
@danieldiaz7 I'm going to close this out assuming this issue has been resolved. Please feel free to re-open this if not.

[2022-07-22 19:06] #119 closed

[2022-07-22 19:06] drebbe-intrepid commented on #120
I'm going to close this out assuming this issue has been resolved. Please feel free to re-open this if not.

[2022-07-22 19:06] #120 closed

[2022-07-22 19:07] drebbe-intrepid commented on #121
I'm going to close this out assuming this issue has been resolved. Please feel free to re-open this if not.

[2022-07-22 19:07] #121 closed

[2022-07-22 19:10] #123 closed

[2022-07-22 19:11] drebbe-intrepid commented on #118
@zhihongliuus Please try the latest releases as there were some changes/fixes around the `ExtraDataPtr` recently. Please re-open this if this is still an issue.

[2022-07-22 19:11] #118 closed

[2022-07-22 19:12] drebbe-intrepid commented on #117
done for now.

[2022-07-22 19:12] #117 closed

[2022-07-22 19:13] drebbe-intrepid commented on #111
This has been fixed upstream in icsneo40.dll so closing this out.

[2022-07-22 19:13] #111 closed

[2022-07-22 19:14] drebbe-intrepid commented on #115
@1994lwz I'm going to assume this issue is resolved now, feel free to re-open this if not.

[2022-07-22 19:14] #115 closed

[2022-08-01 11:38] YelaShady opened #125 "how to send canfd msg with dls less than 8"
I tried to send canfd msg with 8 bytes data used the example here:
https://github.com/YelaShady/python_ics/blob/master/examples/transmit_canfd_example.py
which data been sent as:
DATA_BYTES = tuple([x for x in range(7)])

but it sends all zero data,but I wish it should be [0,1,2,3,4,5,6].
Then when I tried with
DATA_BYTES = tuple([x for x in range(9)])
it sends data like:
 ['0x0', '0x1', '0x2', '0

[2022-08-01 20:28] ic3man5 commented on #125
@YelaShady Can you provide me with more information?

-Operating System
-Python version (32-bit/64-bit)
-python_ics version
-icsneo40.dll version
-Intrepid hardware being used
-Any extra details about your setup.

[2022-08-02 17:02] bmjones2 opened #126 "Add support for icsneoGetPCBSerialNumber"

[2022-08-11 23:16] bmjones2 opened #127 "Ethernet packets do not allow more than 256 bytes"
In the following example, setting `tx_message.ExtraDataPtr` truncates the data to 256 bytes.

[code]

[2022-08-12 21:06] bmjones2 opened #129 "Ethernet packets with exactly 256 bytes are not received properly"

[2022-08-31 12:46] bmjones2 opened #130 "Add support for icsneoEnableDOIPLine"

[2022-08-31 12:48] bmjones2 opened #131 "Add support for backup power functions"
icsneoGetBackupPowerEnabled
icsneoSetBackupPowerEnabled
icsneoGetBackupPowerReady

[2022-08-31 12:51] #131 closed

[2022-08-31 12:57] bmjones2 commented on #130
already implemented.

[2022-08-31 12:57] #130 closed

[2022-08-31 12:58] bmjones2 commented on #131
already implemented.

[2022-08-31 16:38] #127 closed

[2022-08-31 16:38] #129 closed

[2022-08-31 16:39] drebbe-intrepid commented on #126
e7f60121c00ab35c3a4e237b46a1915822786ccc

[2022-08-31 16:39] #126 closed

[2022-08-31 16:39] drebbe-intrepid commented on #125
@YelaShady I'm going to assume this has been resolved so I'm closing this out. Feel free to re-open this if needed.

[2022-08-31 16:39] #125 closed

[2022-08-31 19:11] bmjones2 opened #132 "Add support for icsneoGetGPTPStatus"

[2022-09-28 13:03] andreasdoll opened #134 "Absolute timestamps of messages"
Hello

I'm trying to get absolute timestamps of messages, something like ``YYYY-MM-DD hh:mm:ss`` or POSIX time.
Note that I don't know when the device was plugged.

If I understand correctly, the value returned by ``ics.get_timestamp_for_msg()`` is the time of message transmit since the device was plugged (in seconds). Because the time of plugin is unknown to me, I thought I can deduce the absolut

[2022-10-11 04:01] drebbe-intrepid commented on #134
@andreasdoll sorry for the late reply, I will look into this soon (hopefully tomorrow) for you and get back with an answer. Can you let me know what hardware you are using with our API?

[2022-10-11 12:45] drebbe-intrepid commented on #134
@andreasdoll depending on the hardware used there is different behavior here. I'll need that information from you before I can proceed.

[2022-10-11 15:01] andreasdoll commented on #134
Thanks for getting back to me @drebbe-intrepid!
The device is a ``ValueCAN 3``, furthermore I use ``icsneo40.dll (v3.9.8.12)`` and ``icsftd3xx.dll (v1.2.0.5)``

[2022-10-11 15:39] drebbe-intrepid commented on #134
I'll look into this as soon as I can. This is an older generation of hardware and I believe there was a change in behavior along the ways with newer generations.

[2022-10-13 15:17] drebbe-intrepid commented on #134
@andreasdoll I modified the script to show what ```ics.get_timestamp_for_msg``` is doing behind the scenes. Value is in seconds elapsed after 1/1/2007 (we call this ICS epoch time internally).

[code]

ValueCAN3
[code]

ValueCAN4-2
[code]

[2022-10-13 15:32] drebbe-intrepid commented on #134
@andreasdoll Also its possible the RTC isn't set correctly (my example sets it). I didn't test it but if you set the RTC in explorer and then run your script you'll probably see different values then starting from 0.

[2022-10-14 12:02] andreasdoll commented on #134
@drebbe-intrepid Thank you, I'll have a look into your example in the coming days.

Regarding the documentation of timestamp resets: [here for ``SpyMessage``](https://github.com/intrepidcs/python_ics/blob/master/include/object_spy_message.h#L53:L54) and [here for ``SpyMessageJ1850``](https://github.com/intrepidcs/python_ics/blob/master/include/object_spy_message.h#L81:L82) (I didn't use J1850 and

[2022-11-07 21:39] drebbe-intrepid opened #135 "test"
test

[2022-11-07 21:40] drebbe-intrepid commented on #135
@intrepidcs/python_ics

[2022-11-07 21:42] drebbe-intrepid commented on #135
@drebbe-intrepid

[2022-11-07 21:46] #135 closed

[2022-11-07 21:47] drebbe-intrepid opened #136 "test2"
test2

[2022-11-07 23:03] #136 closed

[2022-11-17 03:39] FairosAws opened #137 "DOCS: ics.generic_api_read_data should return function index and data"
ics.generic_api_read_data should return function_index and data not function_error and data.
Also, lets indicate in the documentation that len of data is optional

[2022-11-29 17:08] #137 closed

[2022-11-29 17:09] drebbe-intrepid commented on #134
@andreasdoll I'm going to close this out as resolved, if you have anymore issues or questions, feel free to reopen this or open a new issue!

[2022-11-29 17:09] #134 closed